body {
  font-family: "Roboto", "Helvetica", sans-serif; }

nav {
  background: #222;
  box-shadow: 0 1px 20px 1px rgba(34, 34, 34, 0.8); }
  nav .container .navbar {
    margin: 0;
    margin-right: -1rem; }
    nav .container .navbar li {
      margin: 0;
      display: block;
      text-align: center;
      padding: 1rem; }
      nav .container .navbar li a {
        padding: 1rem;
        font-size: 2rem;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        transition: all 0.75s ease; }
        nav .container .navbar li a:hover {
          color: #EA3F46; }

@media (min-width: 600px) {
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; }

  .navbar {
    display: flex;
    justify-content: flex-end; } }
.btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  background: rgba(34, 34, 34, 0.3);
  border: #EA3F46 1px solid;
  color: #fff;
  text-decoration: none;
  transition: all 0.75s ease; }
  .btn:hover {
    color: #EA3F46;
    background: rgba(34, 34, 34, 0.7); }

#hero {
  background-color: #444;
  background: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  #hero .container .content {
    margin: 5.25rem 1rem;
    padding-left: 3rem;
    border-left: #EA3F46 5px solid; }
  #hero .container h1 {
    font-weight: bold;
    margin-bottom: 0;
    color: #fff;
    border-bottom: #EA3F46 5px solid; }
  #hero .container h3 {
    color: #fff; }
  #hero .container p {
    color: #fff; }

@media (min-width: 600px) {
  #hero {
    margin-top: 5rem; } }
#portfolio {
  background: #444; }
  #portfolio .container h3 {
    margin-top: 5.25rem;
    text-align: center;
    color: #222;
    font-weight: bold; }
  #portfolio .container .portfolio-card {
    margin-bottom: 5.25rem; }
  #portfolio .container .thumbnail {
    border-left: #EA3F46 5px solid; }
  #portfolio .container h5 {
    font-weight: bold;
    padding-bottom: 2rem;
    color: #222;
    border-bottom: #EA3F46 5px solid; }
  #portfolio .container p {
    color: #222; }

#about {
  background: #999; }
  #about .container .content {
    margin: 5.25rem 0; }
    #about .container .content img {
      border-left: #EA3F46 5px solid; }
    #about .container .content h3 {
      text-align: right;
      padding-bottom: 2rem;
      color: #222;
      font-weight: bold;
      border-bottom: #EA3F46 5px solid; }
    #about .container .content p {
      font-size: 2rem; }

#contact {
  background: #444; }
  #contact .container .content {
    margin: 5.25rem 0; }
    #contact .container .content h3 {
      margin-top: 5.25rem;
      padding-bottom: 2rem;
      color: #222;
      font-weight: bold;
      border-bottom: #EA3F46 5px solid; }
    #contact .container .content ul {
      list-style: none; }
    #contact .container .content img {
      border-right: #EA3F46 5px solid; }

#footer {
  background: #222; }
  #footer .container .nav {
    color: #EA3F46;
    text-align: center;
    margin-top: 2.5rem;
    font-size: 2rem; }
    #footer .container .nav a {
      text-decoration: none;
      color: #fff;
      transition: all 0.75s ease; }
      #footer .container .nav a:hover {
        color: #EA3F46; }
  #footer .container .copy {
    color: #fff;
    text-align: center;
    font-size: 1rem; }

/*# sourceMappingURL=style.css.map */
