#portfolio
  background: $gray

  .container

    h3
      margin-top: 5.25rem
      text-align: center
      color: $black
      font-weight: bold

    .portfolio-card
      margin-bottom: 5.25rem

    .thumbnail
      border-left: $orange 5px solid

    h5
      font-weight: bold
      padding-bottom: 2rem
      color: $black
      border-bottom: $orange 5px solid

    p
      color: $black
